<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <ul>
                <li><span class="copyright">Сайт создан&nbsp</span><a href="https://github.com/ErmakVitaliy" target="_blank">Ermak</a></li>
                <li>
                    <img src="/img/icons8-логотип-вконтакте.svg" alt="">
                    <a href="#">ВКонтакте</a>
                </li>
                <li>
                    <img src="/img/icons8-одноклассники.svg" alt="">
                    <a href="#">Одноклассники</a>
                </li>
                <li>
                    <img src="/img/icons8-телефон-64.png" alt="" width="48px">
                    <a href="tel:+79184323969">8 (918) 432-39-69</a>
                </li>
            </ul>
        </div>
    </div>
</footer>