<header class="header">
    <div class="container">
        <div class="menu">
            <div class="title">
                <a href="/">@Config.CompanyName</a>
            </div>
            <ul class="nav">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наши услуги</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>