
            <div class="main-service">
                <h1 class="main-title">Стрижка животных</h1>
                <img class="main-img" src="/img/лев.jpg" alt="Услуга"><br>
                <p class="main-decription">Описание услуги</p>
            </div>
           
   

